<div class="columns">
  <div class="column is-12">
    <app-polkascan-header></app-polkascan-header>
    <section>
      <div class="card ">
        <header class="card-header">
          <a [routerLink]="" fragment="list" class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fa fa-database fa-2x" aria-hidden="true"></i>
              </span>
          </a>
          <p class="card-header-title">
            {{ 'DashBoard.Rewards for era' | translate }}
          </p>
        </header>
        <div class="card-table">
          <div class="content">
            <app-loading-box *ngIf="showLoading && (!reward)"></app-loading-box>
            <table class="table is-fullwidth is-striped" *ngIf="reward && reward.length > 0">
              <thead>
              <tr>
                <th></th>
                <th>{{ 'DashBoard.Era' | translate }}</th>
                <th class="is-hidden-mobile">{{ 'DashBoard.Request fee' | translate }}</th>
                <th class="is-hidden-mobile">{{ 'DashBoard.Total request' | translate }}</th>
                <th>{{ 'DashBoard.Generated points' | translate }}</th>
                <th>{{ 'DashBoard.Reward/each point' | translate }}</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of reward">
                <td></td>
                <td width="10%">
                    {{ data.attributes.era }}
                </td>
                <td class="is-hidden-mobile">
                  <div rel="tooltip" title="{{ data.attributes.era_total_fee | date:'medium'}}">
                    <span *ngIf="data.attributes.era_total_fee === 0">-</span>
                    <span *ngIf="data.attributes.era_total_fee !== 0">
                      {{data.attributes.era_total_fee | number: '1.2-2'}} ARES
                    </span>
                  </div>
                </td>
                <td class="is-hidden-mobile"><div class="hash-format">{{ data.attributes.era_total_requests }}</div></td>
                <td>{{ data.attributes.era_total_points === 0 ? "-" : data.attributes.era_total_points }}</td>
                <td>
                  <span *ngIf="data.attributes.sign_fee === 0">-</span>
                  <span *ngIf="data.attributes.sign_fee !== 0">
                      {{data.attributes.sign_fee | number: '1.2-3'}} ARES
                    </span>
                </td>
                <!--<td width="5%"><a class="button is-small is-primary" routerLink="{{ networkURLPrefix }}/block/{{ block.id }}">{{ 'Block-List.Details' | translate }}</a></td>-->
              </tr>
              </tbody>
            </table>
            <!--<div class="no-items" *ngIf="blocks && blocks.data.length == 0 && !blocks.is_loading">{{ 'Block-List.No items' | translate }}</div>-->
          </div>
        </div>
        <footer class="card-footer">
          <a routerLink="." [queryParams]="{ page: currentPage + 1}" class="card-footer-item">{{ 'Block-List.View next' | translate }}</a>
        </footer>
      </div>
    </section>
  </div>
  <div class="no-more-data" *ngIf="showNoMoreData">
    <div class="content">
      <div class="content-header">
        <i class="fa fa-times" aria-hidden="true" (click)="showNoMoreData = false"></i>
      </div>
      <div class="content-desc">
        <i class="fa fa-exclamation-circle fa-3x"></i>
        no more data
      </div>
    </div>
  </div>
</div>
