
.columns {
  margin-top: 20px;
}

.card-header-tips {
  font-size: 0.7rem;
  color: #2E4765;
  background: #D5E7FF;
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 10px;
}


table  {
  color: #2E4765;
  overflow: auto;
  thead {
    tr th {
      font-size: 15px;
      font-weight: bold;
      color: #2E4765;
    }
  }
  tbody {
    font-size: 14px;
    font-weight: 400;
    color: #2E4765;
    tr td {
      border-top: 1px solid #d4d8ea;
    }
  }
}


.polkadot-guide, .select-account {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 28, 078, 0.68);
  z-index: 9999;
  .content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 630px;
    background: #FFFFFF;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
  }
  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid #f0f0f0;
    padding: 15px;
    .fa {
      cursor: pointer;
    }
  }
  .content-title {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  .content-body {
    padding: 24px;
    font-size: 14px;
    line-height: 1.5715;
    word-wrap: break-word;
  }
  .content-desc {
    color: #3e5f86;
  }
  .content-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    a {
      color: #1890ff;
      text-decoration: none;
      background-color: transparent;
      outline: none;
      cursor: pointer;
      transition: color 0.3s;
    }
    .installButton {
      background: rgb(27,109,193);
      border: none;
      color: #FFF !important;
      padding: 10px 20px;
      border-radius: 20px;
      cursor: pointer;
    }
  }
}

.select-account {
  .content-footer {
    padding-bottom: 20px;
    .button {
      padding: 17px;
      font-size: 15px;
      color: #fff;
    }
  }
}


.only-your, .error, .success, .no-more-data {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 28, 078, 0.68);
  z-index: 9999;
  .content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 630px;
    background: #FFFFFF;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
  }
  .content-header {
    padding: 15px;
    display: flex;
    justify-content: end;
    border-bottom: 1px solid #f0f0f0;
    .fa {
      cursor: pointer;
    }
  }
  .content-desc {
    padding: 20px;
    text-align: center;
  }
}

.success, .no-more-data {
  .content-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .fa {
      color: #52c41a;
    }
  }
}

.no-more-data {
  .content-desc {
    .fa {
      color: #f59923;
    }
  }
}

.app-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 28, 078, 0.68);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extend {
  background-color: #FFF !important;
  td {
    border-bottom: none !important;
    border-top: none !important;
  }
}

.era {
  .fa-plus {
    display: inline-block;
    margin-left: 5px;
    transform: scale(0.7);
    cursor: pointer;
  }
}
