<div class="columns">
  <div class="column is-12">
    <app-polkascan-header></app-polkascan-header>
    <section>
      <div class="card ">
        <header class="card-header">
          <a [routerLink]="" fragment="list" class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fa fa-database fa-2x" aria-hidden="true"></i>
              </span>
          </a>
          <p class="card-header-title">
            {{ 'DashBoard.Unclaimed Rewards' | translate }}
            <span class="card-header-tips">72837 ARES</span>
          </p>
        </header>
        <div class="card-table">
          <div class="content">
            <app-loading-box *ngIf="showLoading && (!unRewards || unRewards.is_loading)"></app-loading-box>
            <table class="table is-fullwidth is-striped" *ngIf="unRewards && unRewards.length > 0">
              <thead>
              <tr>
                <th></th>
                <th>{{ 'DashBoard.Validator' | translate }}</th>
                <th>{{ 'DashBoard.Era' | translate }}</th>
                <th>{{ 'DashBoard.Reward' | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let reward of unRewards;">
                <td width="5%"></td>
                <td width="15%">{{ reward.account }}</td>
                <td>{{ reward.era }}</td>
                <td>{{ reward.reward }}</td>
              </tr>
              </tbody>
            </table>
            <div class="no-items" *ngIf="blocks && blocks.data.length == 0 && !blocks.is_loading">{{ 'Block-List.No items' | translate }}</div>
          </div>
        </div>
        <footer class="card-footer">
          <a routerLink="." [queryParams]="{ page: currentPage + 1}" class="card-footer-item">{{ 'Block-List.View next' | translate }}</a>
        </footer>
      </div>
    </section>
  </div>
</div>
