.navbar-burger .icon {
  background-color: #000;
  position: absolute;
  left: calc(50% - 5px);
  top: 15px;
}

.network-name {
  position: absolute;
  right: 50px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  margin: 7px 0;
}

#privacy-notice {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 20px;
}

#navMenu-networks .navbar-dropdown {
  z-index: 40;
}

.network-icon {
  padding-right: 10px;
  width: 28px;
}

.network-icon.current-network {
  padding-top: 2px;
}

.language-icon {
  padding-right: 10px;
  padding-top: 2px;
}


.navbar-logo {
  display: flex;
  align-items: center;
}

.nav-ares-price {
  font-weight: 600;
  font-size: 0.8rem;
  color: #FFFFFF;
}


.container {
  flex-grow: 0;
}

#navMenu-networks {
  z-index: 999;
}



.card-content {
  width: 70%;
  margin: 0 auto;
}


.input {
  border-radius: 15px;
  height: 3rem;
  font-size: 1rem;
  padding-left: 3.25em !important;
}


.content {
  position: relative;
}

.fa-search {
  font-weight: 600;
  font-size: 20px;
  line-height: 1rem;
}


.search-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 3rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  background: #003799;
  color: #FFF;
  font-weight: bold;
}


.app_footer {
  background: #EAEEFF;
  text-align: center;
}

.app_footer .desc {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #2E4765;
  margin-top: 1.5rem;
}


.app_footer .copyright {
  background: #003799;
  color: #FFF;
  margin-top: 2rem;
  font-size: 0.9rem;
  padding: 0.5rem;
}

.navbar-item:hover, .navbar-link:hover {
  background-color:rgba(255,255,255,0.1) !important;
}

.navbar-dropdown .navbar-item:hover {
  background: linear-gradient(90deg, #D0E4FF 0%, rgba(208, 228, 255, 0) 100%);
}



.navbar-link:not(.is-arrowless)::after {
  display: none;
}

.left_icon {
  height: 2.1em !important;
  margin-right: 10px;
}
