<div class="columns">
  <div class="column is-12">
    <app-polkascan-header></app-polkascan-header>
    <section>
      <div class="card ">
        <header class="card-header">
          <a [routerLink]="" fragment="list" class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fa fa-database fa-2x" aria-hidden="true"></i>
              </span>
          </a>
          <p class="card-header-title">
            {{ 'DashBoard.Data of on-chain request' | translate }}
            <span class="card-header-tips" *ngIf="requestsNum">{{requestsNum}} request</span>
          </p>
        </header>
        <div class="card-table">
          <div class="content">
            <app-loading-box *ngIf="showLoading && (!chainRequest)"></app-loading-box>
            <table class="table is-fullwidth is-striped" *ngIf="chainRequest && chainRequest.length > 0">
              <thead>
              <tr>
                <th></th>
                <th>{{ 'DashBoard.Order ID' | translate }}</th>
                <th>{{ 'DashBoard.Requester' | translate }}</th>
                <th>{{ 'DashBoard.Apply block' | translate }}</th>
                <th>{{ 'DashBoard.Quantity' | translate }}</th>
                <th>{{ 'DashBoard.Request pairs' | translate }}</th>
                <th>{{ 'DashBoard.Prepaid' | translate }}</th>
                <th>{{ 'DashBoard.Final Payment' | translate }}</th>
                <th>{{ 'DashBoard.Assembled result' | translate }}</th>
                <th>{{ 'DashBoard.Status' | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let request of chainRequest">
                <td></td>
                <td >
                  <div (click)="copyOrderID(request.attributes.order_id)" style="cursor: pointer">
                    {{ request.attributes.order_id | hideMiddleStr}}
                    <i *ngIf="copySuccessOrderId !== request.attributes.order_id" class="fa fa-clone" aria-hidden="true" (click)="copyOrderID(request.attributes.order_id)"></i>
                    <i *ngIf="copySuccessOrderId === request.attributes.order_id" class="fa fa-check-circle has-text-success" aria-hidden="true"></i>
                  </div>
                </td>
                <td>{{request.attributes.requester}}</td>
                <td>
                  <a routerLink="{{ networkURLPrefix }}/block/{{ request.attributes.created_at }}">
                    {{request.attributes.created_at}}
                  </a>
                </td>
                <td>{{request.attributes.symbols.length}}</td>
                <td width="20%">
                  <span *ngFor="let pair of request.attributes.symbols" class="pair-item">
                    {{pair}}
                  </span>
                </td>
                <td>{{request.attributes.prepayment}} ARES</td>
                <td>{{request.attributes.payment}} ARES</td>
                <td class="is-hidden-mobile">
                  <div *ngIf="request.attributes.result" class="result-item">
                    <div *ngFor="let key of request.attributes.keys">
                      <div class="result-item-key" (click)="showSymbolInfo(request.attributes.order_id+key)">
                        <span class="symbol-title">{{ key | uppercase}}</span>
                        <i class="fa fa-caret-down fa-2x" *ngIf="request.attributes.order_id+key != showSymbolInfoKey"></i>
                        <i class="fa fa-caret-up fa-2x" *ngIf="request.attributes.order_id+key == showSymbolInfoKey"></i>
                      </div>
                      <div class="symbol-info" *ngIf="request.attributes.order_id+key == showSymbolInfoKey">
                        <div>
                          <span>Count: [{{request.attributes.auth[key].length}}]</span>
                          <span>[Full]</span>
                        </div>
                        <div>
                          Block: {{request.attributes.ended_at}}
                        </div>
                        <div>
                          Price: {{ (request.attributes.result[key].price_data[0] / 10000) | number }}
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="request-status">
                  <i class="fa fa-check-circle" *ngIf="request.attributes.status == 1"></i>
                  <i class="fa fa-clock" *ngIf="request.attributes.status == 2"></i>
                  <i class="fa fa-times-circle" *ngIf="request.attributes.status == 0"></i>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <footer class="card-footer">
          <a routerLink="." [queryParams]="{ page: currentPage + 1}" class="card-footer-item">{{ 'Block-List.View next' | translate }}</a>
        </footer>
      </div>
    </section>
  </div>
  <div class="no-more-data" *ngIf="showNoMoreData">
    <div class="content">
      <div class="content-header">
        <i class="fa fa-times" aria-hidden="true" (click)="showNoMoreData = false"></i>
      </div>
      <div class="content-desc">
        <i class="fa fa-exclamation-circle fa-3x"></i>
        no more data
      </div>
    </div>
  </div>
</div>
