<div class="columns">
  <div class="column is-12">
    <app-polkascan-header></app-polkascan-header>
    <section>
      <div class="card ">
        <header class="card-header">
          <a [routerLink]="" fragment="list" class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fa fa-database fa-2x" aria-hidden="true"></i>
              </span>
          </a>
          <p class="card-header-title">
            {{ 'DashBoard.Data of on-chain request' | translate }}
            <span class="card-header-tips">77 request</span>
          </p>
        </header>
        <div class="card-table">
          <div class="content">
            <app-loading-box *ngIf="showLoading && (!chainRequest)"></app-loading-box>
            <table class="table is-fullwidth is-striped" *ngIf="chainRequest && chainRequest.length > 0">
              <thead>
              <tr>
                <th></th>
                <th>{{ 'DashBoard.ID for order' | translate }}</th>
                <th class="is-hidden-mobile">{{ 'DashBoard.Assembled result' | translate }}</th>
                <th class="is-hidden-mobile">{{ 'DashBoard.Requests status' | translate }}</th>
                <th>{{ 'DashBoard.Timestamp' | translate }}</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let request of chainRequest">
                <td></td>
                <td width="10%"><a routerLink="{{ networkURLPrefix }}/block/{{ request.id }}">{{ request.attributes.created_at }}</a></td>
                <td class="is-hidden-mobile"><span rel="tooltip" title="{{ request.attributes.created_at | date:'medium'}}">{{ request.attributes.created_at | timeago }}</span></td>
                <td>{{ request.attributes.created_at }}</td>
                <td width="5%"><a class="button is-small is-primary" routerLink="{{ networkURLPrefix }}/block/{{ request.id }}">{{ 'Block-List.Details' | translate }}</a></td>
              </tr>
              </tbody>
            </table>
            <!--<div class="no-items" *ngIf="blocks && blocks.data.length == 0 && !blocks.is_loading">{{ 'Block-List.No items' | translate }}</div>-->
          </div>
        </div>
        <footer class="card-footer">
          <a routerLink="." [queryParams]="{ page: currentPage + 1}" class="card-footer-item">{{ 'Block-List.View next' | translate }}</a>
        </footer>
      </div>
    </section>
  </div>
</div>
