

.result-item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.result-item-key{
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
  .fa-caret-down, .fa-caret-up {
    color: #003799;
    display: block;
  }
  .symbol-title {
    display: block;
    min-width: 90px;
  }
}

.auth {
  //display: block;
  width: 164px;
  height: 18px;
  font-size: 14px;
  line-height: 20px;
  color: #2E4765;
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
  width: 100%;
  span:first-child {
    padding-right: 10px;
  }
  span:last-child {
    text-align: right;
    display: block;
    padding: 0 8px;
  }
}

.symbol-info {
  padding: 15px 0;
}
