<div class="columns">
    <div class="column is-12">
        <div class="dashboard-header">
          <div class="chain-data column is-3">
            <div class="title">
              Chain Data
            </div>
            <div class="chain-data-items">
              <div class="chain-data-item">
                <div>
                  <img src="../../../assets/icons/blocks.png" alt="" width="24" height="24">
                </div>
                <div>
                  <div class="item-title">Finalized Blocks</div>
                  <div class="numbers">{{ chainData.finalized_block ? chainData.finalized_block : ""}}</div>
                </div>
              </div>
              <div class="chain-data-item">
                <div>
                  <img src="../../../assets/icons/signed.png" alt="" width="24" height="24">
                </div>
                <div>
                  <div class="item-title">Signed Extrinsics</div>
                  <div class="numbers">{{chainData.total_extrinsics_signed ? chainData.total_extrinsics_signed : "0"}}</div>
                </div>
              </div>
              <div class="chain-data-item">
                <div>
                  <img src="../../../assets/icons/transfers.png" alt="" width="24" height="24">
                </div>
                <div>
                  <div class="item-title">Transfers</div>
                  <div class="numbers">{{chainData.total_events_transfer ? chainData.total_events_transfer : "0"}}</div>
                </div>
              </div>
              <div class="chain-data-item">
                <div>
                  <img src="../../../assets/icons/holders.png" alt="" width="24" height="24">
                </div>
                <div>
                  <div class="item-title">Holders</div>
                  <div class="numbers">229,504</div>
                </div>
              </div>
              <div class="chain-data-item">
                <div>
                  <img src="../../../assets/icons/total.png" alt="" width="24" height="24">
                </div>
                <div>
                  <div class="item-title">Total Issuance</div>
                  <div class="numbers">{{chainData.total_issuance ? (chainData.total_issuance / 1000000000).toFixed(2) : ""}}B</div>
                </div>
              </div>
              <div class="chain-data-item">
                <div>
                  <img src="../../../assets/icons/staked.png" alt="" width="24" height="24">
                </div>
                <div>
                  <div class="item-title">Staked Value</div>
                  <div class="numbers">{{chainData.total_stake ? (chainData.total_stake/1000000000).toFixed(2) : "0"}}B (45.5%)</div>
                </div>
              </div>
              <div class="chain-data-item">
                <div>
                  <img src="../../../assets/icons/validators.png" alt="" width="24" height="24">
                </div>
                <div>
                  <div class="item-title">Validators</div>
                  <div class="numbers">{{chainData.total_validators ? chainData.total_validators : "0"}}</div>
                </div>
              </div>
              <div class="chain-data-item">
                <div>
                  <img src="../../../assets/icons/rate.png" alt="" width="24" height="24">
                </div>
                <div>
                  <div class="item-title">Inflation Rate</div>
                  <div class="numbers">{{chainData.inflation ? chainData.inflation.toFixed(2) : "0"}}%</div>
                </div>
              </div>
            </div>
          </div>
          <div class="token-status column is-3">
            <div class="token-status-icon">
              <div class="token-status-icon-shadow-i"></div>
              <div class="token-status-icon-shadow-m"></div>
              <div class="token-status-icon-shadow-o"></div>
              <img src="../../../assets/icons/logo02.png" alt="">
            </div>
            <div class="status-items">
              <div class="status-title">
                Token Status
              </div>
              <div class="status-item1">
                <div class="status-item">
                  <div class="status-item-title">Rank</div>
                  <div class="status-item-num">{{aresRank ? aresRank : ""}}</div>
                </div>
                <div class="status-item">
                  <div class="status-item-title">Market Cap</div>
                  <div class="status-item-num">$ {{aresCap ? (aresCap/1000000).toFixed(1) : ""}} M USD</div>
                </div>
              </div>
              <div class="status-item">
                <div class="status-item-title">24H Volume</div>
                <div class="status-item-num">$ {{aresVol ? (aresVol/1000000).toFixed(1) : ""}} M USD</div>
              </div>
            </div>
          </div>
        </div>
        <app-polkascan-header></app-polkascan-header>
        <section class="columns">
            <div class="column is-6 last-blocks" id="last-blocks">
                <div class="card dashboard-card">
                  <a routerLink="{{ networkURLPrefix }}/block">
                    <header class="card-header">
                      <a [routerLink]="" fragment="last-blocks" class="card-header-icon" aria-label="more options">
                        <img src="../../../assets/icons/block.png" alt="" width="28" height="28">
                      </a>
                      <p class="card-header-title">
                          {{ 'DashBoard.Last blocks' | translate }}
                      </p>
                    </header>
                  </a>
                  <div class="card-table">
                        <div class="content">
                            <table class="table is-fullwidth is-striped">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th>{{ 'DashBoard.Number' | translate }}</th>
                                    <th class="is-hidden-mobile">{{ 'DashBoard.Age' | translate }}</th>
                                    <th>{{ 'DashBoard.Transactions' | translate }}</th>
                                    <th>{{ 'DashBoard.Module Events' | translate }}</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody *ngIf="blocks">
                                    <tr *ngFor="let block of blocks.data; trackBy: blocks.trackBy">
                                        <td width="5%"><i class="fa fa-cube"></i></td>
                                        <td width="10%"><a routerLink="{{ networkURLPrefix }}/block/{{ block.id }}">{{ block.id }}</a></td>
                                        <td class="is-hidden-mobile"><span *ngIf="block.attributes.datetime" rel="tooltip" title="{{ block.attributes.datetime | date:'medium'}}">{{ block.attributes.datetime | timeago }}</span></td>
                                        <td>{{ block.attributes.count_extrinsics_signed }}</td>
                                        <td>{{ block.attributes.count_events_module }}</td>
                                        <td width="5%"><a class="button is-small is-primary" routerLink="{{ networkURLPrefix }}/block/{{ block.id }}">{{ 'DashBoard.Details' | translate }}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-6 last-transfers" id="last-transfers">
              <div class="card dashboard-card">
                  <a routerLink="{{ networkURLPrefix }}/balances/transfer">
                    <header class="card-header">
                      <a [routerLink]="" fragment="last-transfers" class="card-header-icon" aria-label="more options">
                        <img src="../../../assets/icons/transfers.png" alt="" width="28" height="28">
                      </a>
                        <p class="card-header-title">
                            {{ 'DashBoard.Last balance transfers' | translate }}
                        </p>
                    </header>
                  </a>
                    <div class="card-table">
                        <div class="content">
                            <table class="table is-fullwidth is-striped">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th class="is-hidden-mobile">{{ 'DashBoard.Sender' | translate }}</th>
                                    <th>{{ 'DashBoard.Destination' | translate }}</th>
                                    <th>{{ 'DashBoard.Amount' | translate }}</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody *ngIf="balanceTransfers">
                                    <tr *ngFor="let balanceTransfer of balanceTransfers.data; trackBy: balanceTransfers.trackBy">
                                        <td width="5%"><i class="fa fa-exchange-alt"></i></td>
                                        <td class="is-hidden-mobile"><a routerLink="{{ networkURLPrefix }}/account/{{ balanceTransfer.attributes.sender.attributes.address }}" class="address-overview-format"><app-address [account]="balanceTransfer.attributes.sender"></app-address></a></td>
                                        <td><a routerLink="{{ networkURLPrefix }}/account/{{ balanceTransfer.attributes.destination.attributes.address }}" class="address-overview-format"><app-address [account]="balanceTransfer.attributes.destination"></app-address></a></td>
                                        <td>{{ formatBalance(balanceTransfer.attributes.value) | number:'1.0-15' }} {{ networkTokenSymbol }}</td>
                                        <td width="5%"><a class="button is-small is-primary" routerLink="{{ networkURLPrefix }}/balances/transfer/{{ balanceTransfer.id }}">{{ 'DashBoard.Details' | translate }}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="info-tiles">
          <div class="tile is-ancestor has-text-centered">
              <div class="tile is-parent" *ngIf="totalTransactionsDaychart$ | async as chart">
                  <article class="tile is-child box">
                    <app-loading-box *ngIf="chart.is_loading"></app-loading-box>
                    <app-chart *ngIf="!chart.is_loading"
                           [chartData]="chart"
                           [title]="'Analytics-Charts.Total transactions by day' | translate"
                           height="200px"
                           [themeColor] = 'networkColor'
                           xAxisType="datetime"
                    >
                    </app-chart>
                  </article>
              </div>
              <div class="tile is-parent is-hidden-mobile" *ngIf="averageBlocktimeDaychart$ | async as chart">
                  <article class="tile is-child box">
                    <app-loading-box *ngIf="chart.is_loading"></app-loading-box>
                    <app-chart *ngIf="!chart.is_loading"
                      [chartData]="chart"
                       [analyticsChart]="averageBlocktimeDaychart$"
                       [title]="'Analytics-Charts.Average blocktime by day' | translate"
                       height="200px"
                       [themeColor] = 'networkColor'
                       xAxisType="datetime"
                    >
                    </app-chart>
                  </article>
              </div>
              <div class="tile is-parent is-hidden-touch is-hidden-desktop-only" *ngIf="cumulativeAccountsDayChart$ | async as chart">
                  <article class="tile is-child box">
                    <app-loading-box *ngIf="chart.is_loading"></app-loading-box>
                    <app-chart *ngIf="!chart.is_loading"
                           [chartData]="chart"
                           title="Active accounts by day"
                           [title]="'Analytics-Charts.New accounts by day' | translate"
                           height="200px"
                           [themeColor] = 'networkColor'
                           xAxisType="datetime"
                    >
                    </app-chart>
                  </article>
              </div>
          </div>
      </section>
    </div>
</div>
